name: Docker Hub

on:
  push:
    branches:
      - 'main'

jobs:

  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker login
        env:
          DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_PASS: ${{ secrets.DOCKERHUB_PASSWORD }}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASS

  build-7_4:
    runs-on: ubuntu-latest
    steps:
      - name: Build and Push 7.4 images
        run: |
          cd ./7.4
          make latest push

  build-8_0:
    runs-on: ubuntu-latest
    steps:
      - name: Build and Push 8.0 images
        run: |
          cd ./8.0
          make latest push

  build-8_1:
    runs-on: ubuntu-latest
    steps:
      - name: Build and Push 8.1 images
        run: |
          cd ./8.1
          make latest push

  build-8_2:
    runs-on: ubuntu-latest
    steps:
      - name: Build and Push 8.2 images
        run: |
          cd ./8.2
          make latest push

  build-8_3:
    runs-on: ubuntu-latest
    steps:
      - name: Build and Push 8.3 images
        run: |
          cd ./8.3
          make latest push
